<template name="home">
  <div class="container auth">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well">
          <h1>woops.</h1>
          <blockquote>yea... we haven't spent the time we should to make a page explaining stuff here.</blockquote>
        </div>
        <div class="powered pull-right">powered by <span class="powered-by">bitauth</span></div>
        <br><div class="copyright pull-right">&copy; Alexander Troshin</div>
      </div>
    </div>
  </div>
</template>